/* showページ関連 */
.btn {
  border-radius: 25px;
}

.whiteline {
  background: linear-gradient(transparent 60%, #cfd5db 60%);
}

.firstborder {
  border: solid #10821a thick;
  border-radius: 2em;
  background-color: white;
}

.secondborder {
  border: solid #fae264 thick;
  border-radius: 2em;
  background-color: white;
}

.comment {
  line-height: 2em;
  border-bottom: dotted 0.1rem gray;
}

.comment_btn {
  margin: 0 0 0 auto;
  padding: 0.25rem;
  background-color: #C6F281;
  color: #5d5d5d;
  border-radius: 15px;
  border: none;
}

.text-success, .text-danger {
  cursor: pointer;
}

/* 投稿・修正ページ関連 */
.container {
  color: #5d5d5d;
}

/* 修正ページ用 */
.edit {
  background-color: #cfd5db;
}