html{
  font-family: 'Kosugi Maru', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FCFCDD;
}

/* ここからheader */
/* ヘッダー */
.header {
  border-bottom: solid 1px #000;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* ロゴ */
.logo {
  float: left;
  width: auto;
}

/*ナビゲーション*/
.navigation {
  float: right;
  width: auto;
}

/*floatの解除*/
.header:after {
  content: "";
  display: block;
  clear: both;
}

.menu-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-navigation li {
  float: left;
  width: auto;
}

.menu-navigation li a {
  display: block;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  margin: 0 auto;
  padding: 19px;
  border-right: solid 1px #000;
  border-left: solid 1px #000;
  font-family: 'Kosugi Maru', sans-serif;
}

.menu-navigation li a:hover {
  background-color: #FF8341;
}

.menu-navigation ul:after {
  content: "";
  clear: both;
  display: block;
}

/* ここまでheader */

/*ここからfooter*/
.footer {
  height: 100px;
  background-color: #FFD41F;
  text-align: right;
}

.footer p {
  padding: 20px;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

/*ここまでfooter*/

/* ここから共通パーツ */
/*送信ボタン*/
button {
  background-color: #C6F281;
  color: #5d5d5d;
  margin: 0 auto;
  width: 200px;
  padding: 14px;
  border-radius: 25px;
  font-family: 'Kosugi Maru', sans-serif;
}

/* 各ページの検索フォーム */
.search_area {
  background-color: #FFD41F;
  height: 50px;
}

.search_form {
  border: solid 4px #E2B840;
  border-radius: 25px;
}

.search_button {
  background-color: #FF8341;
  color: #fff;
  text-align: center;
  width: 100px;
  padding: 14px;
  border-radius: 25px;
  border: none;
  font-family: 'Kosugi Maru', sans-serif;
}
